In [11]:
from nba_api.stats.static import players, teams
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import playergamelog, playergamelogs
from nba_api.stats.endpoints import boxscoreadvancedv2
from nba_api.stats.endpoints import boxscorefourfactorsv2
from nba_api.stats.endpoints import boxscoremiscv2
from nba_api.stats.endpoints import boxscoredefensive
from nba_api.stats.endpoints import boxscoreusagev2
from nba_api.stats.endpoints import boxscorescoringv2
from nba_api.stats.endpoints import boxscoreplayertrackv2
from nba_api.stats.endpoints import hustlestatsboxscore

from nba_api.stats.endpoints import boxscorematchups
from nba_api.stats.endpoints import boxscoretraditionalv2
from nba_api.stats.endpoints import boxscoresummaryv2
from nba_api.stats.endpoints import leaguedashplayershotlocations
from nba_api.stats.endpoints import leaguedashplayerclutch
from nba_api.stats.endpoints import leaguedashoppptshot
from nba_api.stats.endpoints import leaguedashplayerptshot
from nba_api.stats.endpoints import leaguedashptdefend
from nba_api.stats.endpoints import scoreboard, scoreboardv2
from nba_api.stats.endpoints import teamgamelogs, teamgamelog
from nba_api.stats.endpoints import leaguedashteamstats, leaguedashplayerstats

from time import sleep
import random
import pandas as pd

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


from tqdm import tqdm
from nba_api.stats.static import players, teams
from nba_api.stats.library.parameters import SeasonAll
import time as time
from IPython.core.display import clear_output
import sqlite3

In [2]:
pd.options.display.max_columns=60

In [3]:
def season_string(season):
    return str(season) + '-' + str(season+1)[-2:]

In [4]:
# Set Current Season

current_season = '2021-22'

seasons = [season_string(s) for s in range(2000, 2021)]
print('Previous Seasons:', seasons, '\n\n', 'Current_Season:', current_season)

Previous Seasons: ['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21']

 Current_Season: 2021-22

In [85]:
for season in seasons:
    season_df = []
    for season_type in ['Regular Season', 'Playoffs']:
        player_df = playergamelogs.PlayerGameLogs(season_nullable = season, season_type_nullable = season_type).get_data_frames()[0]
        season_df.append(player_df)
    full_df = pd.concat(season_df)
    full_df.to_csv("./data/player_boxscores_basic/player_boxscores_{}.csv".format(season), index=False)
    sleep(2)

In [2]:
teamgamelogs.TeamGameLogs(season_nullable='2020-21', game_segment_nullable='First Half', season_type_nullable='Regular Season').get_data_frames()[0]

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2020-21,1610612738,BOS,Boston Celtics,0022001073,2021-05-16T00:00:00,BOS @ NYK,L,24.0,13,...,850,1834,704,1931,223,700,1602,846,2117,1923
1,2020-21,1610612743,DEN,Denver Nuggets,0022001076,2021-05-16T00:00:00,DEN @ POR,L,24.0,21,...,2051,1632,201,726,1965,700,1849,1160,1192,1982
2,2020-21,1610612739,CLE,Cleveland Cavaliers,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,24.0,21,...,850,1980,1617,1132,938,1662,400,1160,1085,1761
3,2020-21,1610612765,DET,Detroit Pistons,0022001069,2021-05-16T00:00:00,DET vs. MIA,L,24.0,17,...,2051,1632,1978,1931,1965,1224,2116,560,1824,2094
4,2020-21,1610612755,PHI,Philadelphia 76ers,0022001075,2021-05-16T00:00:00,PHI vs. ORL,W,24.0,23,...,2094,186,1617,726,500,197,1849,1488,695,1419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2020-21,1610612752,NYK,New York Knicks,0022000011,2020-12-23T00:00:00,NYK @ IND,L,24.0,24,...,1613,464,1832,93,500,1662,2060,313,262,679
2156,2020-21,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22T00:00:00,LAL vs. LAC,L,24.0,17,...,676,1632,1978,1132,1965,1,1849,5,1287,1200
2157,2020-21,1610612751,BKN,Brooklyn Nets,0022000001,2020-12-22T00:00:00,BKN vs. GSW,W,24.0,23,...,183,1381,2115,400,39,700,1316,560,461,132
2158,2020-21,1610612746,LAC,LA Clippers,0022000002,2020-12-22T00:00:00,LAC @ LAL,W,24.0,21,...,1252,1131,2057,93,1965,1,2153,178,1085,886
2159,2020-21,1610612744,GSW,Golden State Warriors,0022000001,2020-12-22T00:00:00,GSW @ BKN,L,24.0,17,...,850,1632,1617,726,938,2076,1316,560,1937,2011

In [ ]:
seasons = ["200{}-0{}".format(x, x+1) if x!=9 else "200{}-{}".format(x, x+1) for x in range(0, 10)]
seasons2 = ["20{}-{}".format(x, x+1) for x in range(10, 21)]
seasons.extend(seasons2)

def get_basic_gamelogs(seasons = seasons):
    all_season_team_gamelogs = []
    for season in tqdm(seasons, desc='Progress'):
        for season_type in ['Regular Season', 'Playoffs']:
            season_gamelogs = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
            all_season_team_gamelogs.append(season_gamelogs)
            sleep(2)
        sleep(20)
        
    team_gamelogs_2000_present = pd.concat(all_season_team_gamelogs)
    
    path = './data/team_gamelogs_2000_present.csv'.format(season)

    team_gamelogs_2000_present.to_csv(path, index=False)
    
    return None
    
# get_basic_gamelogs(seasons=seasons)

### Full Game Stats

In [5]:
custom_headers = {
    'Host': 'stats.nba.com',
    'Connection': 'keep-alive'
}
def add_basic_boxscores(conn, start_season, end_season, if_exists='append'):
    table_name = 'team_basic_boxscores'
    
    if if_exists == 'replace':
        conn.execute('DROP TABLE IF EXISTS ' + table_name)
        conn.execute('VACUUM')
        
    conn.execute("""CREATE TABLE IF NOT EXISTS {} (SEASON TEXT, TEAM_ID INTEGER, TEAM_ABBREVIATION TEXT, 
        TEAM_NAME TEXT, GAME_ID TEXT, GAME_DATE DATE, MATCHUP TEXT, WL TEXT, MIN INTEGER, FGM INTEGER, FGA INTEGER, 
        FG_PCT FLOAT, FG3M INTEGER, FG3A  INTEGER, FG3_PCT FLOAT, FTM INTEGER, FTA INTEGER, FT_PCT FLOAT, OREB INTEGER,
        DREB INTEGER, REB INTEGER, AST INTEGER, STL INTEGER, BLK INTEGER, TOV INTEGER, PF INTEGER, PTS INTEGER, 
        PLUS_MINUS INTEGER)""".format(table_name))    
    
    for season in range(start_season, end_season+1):
        season_str = season_string(season)
        season_boxscores = []
        for season_type in ['Regular Season', 'Playoffs']:
            boxscores = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
            season_boxscores.append(boxscores)
            sleep(2)
        season_df = pd.concat(season_boxscores)
        season_df['SEASON'] = season_str
        season_df.drop(columns = ['SEASON_ID', 'VIDEO_AVAILABLE'], inplace=True)
        
        season_df.to_sql(table_name, conn, if_exists='append', index=False)
        
        sleep(3)
        
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return None

In [7]:
def add_advanced_boxscores(conn, start_season, end_season, if_exists='append'):

    table_name = 'team_advanced_boxscores'
    game_ids_not_added = []
    
    if if_exists == 'replace':
        conn.execute('DROP TABLE IF EXISTS ' + table_name)
        conn.execute('VACUUM')
    
    conn.execute('''CREATE TABLE IF NOT EXISTS {} (GAME_ID TEXT, TEAM_ID INTEGER, TEAM_NAME TEXT, 
        TEAM_ABBREVIATION TEXT, TEAM_CITY TEXT, MIN TEXT, E_OFF_RATING FLOAT, OFF_RATING FLOAT, E_DEF_RATING FLOAT, 
        DEF_RATING FLOAT, E_NET_RATING FLOAT, NET_RATING FLOAT, AST_PCT FLOAT, AST_TOV FLOAT, 
        AST_RATIO FLOAT, OREB_PCT FLOAT, DREB_PCT FLOAT, REB_PCT FLOAT, E_TM_TOV_PCT FLOAT, 
        TM_TOV_PCT FLOAT, EFG_PCT FLOAT, TS_PCT FLOAT, USG_PCT FLOAT, E_USG_PCT FLOAT, E_PACE FLOAT, 
        PACE FLOAT, PACE_PER40 FLOAT, POSS FLOAT, PIE FLOAT)'''.format(table_name))
    
    
    for season in range(start_season, end_season+1):
        season_str = season_string(season)
        season_team_boxscores = []

        for season_type in ['Regular Season', 'Playoffs']:
            logs = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
            game_ids = logs['GAME_ID'].unique()

            for i in range(0, len(game_ids), 100):
                print('games {} to {}'.format(i, i+100))
                for game_id in tqdm(game_ids[i:i+100], desc='progress'):
                    try:
                        team_boxscores = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id).get_data_frames()[1]                    
                        team_boxscores.to_sql(table_name, conn, if_exists='append', index=False)
                    except:
                        game_ids_not_added.append(game_id)
                    sleep(2)
                sleep(120)
                clear_output(wait=True)

        sleep(120)
        
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return game_ids_not_added

In [8]:
def add_scoring_boxscores(conn, start_season, end_season, if_exists='append'):
    game_ids_not_added = []
    
    table_name = 'team_scoring_boxscores'
    
    if if_exists == 'replace':
        conn.execute('DROP TABLE IF EXISTS ' + table_name)
        conn.execute('VACUUM')
    
    conn.execute('''GAME_ID TEXT, TEAM_ID INTEGER, TEAM_NAME TEXT, TEAM_ABBREVIATION TEXT, TEAM_CITY TEXT,
       MIN TEXT, PCT_FGA_2PT FLOAT, PCT_FGA_3PT FLOAT, PCT_PTS_2PT FLOAT, PCT_PTS_2PT_MR FLOAT,
       PCT_PTS_3PT FLOAT, PCT_PTS_FB FLOAT, PCT_PTS_FT FLOAT, PCT_PTS_OFF_TOV FLOAT,
       PCT_PTS_PAINT FLOAT, PCT_AST_2PM FLOAT, PCT_UAST_2PM FLOAT, PCT_AST_3PM FLOAT,
       PCT_UAST_3PM FLOAT, PCT_AST_FGM FLOAT, PCT_UAST_FGM FLOAT)'''.format(table_name))
    
    
    for season in range(start_season, end_season+1):
        season_str = season_string(season)
        season_team_boxscores = []

        for season_type in ['Regular Season', 'Playoffs']:
            logs = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
            game_ids = logs['GAME_ID'].unique()

            for i in range(0, len(game_ids), 100):
                print('games {} to {}'.format(i, i+100))
                for game_id in tqdm(game_ids[i:i+100], desc='progress'):
                    try:
                        scoring_boxscores = boxscorescoringv2.BoxScoreScoringV2(game_id).get_data_frames()[1]
                        scoring_boxscores.to_sql(table_name, conn, if_exists='append', index=False)
                    except:
                        game_ids_not_added.append(game_id)
                    sleep(2)
                sleep(120)
                clear_output(wait=True)

        sleep(120)
        
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return game_ids_not_added

## Update Data

In [12]:
## Update basic team gamelogs and player gamelogs

def update_team_basic_boxscores(conn, season):
    table_name = 'team_basic_boxscores'
    season_str = season_string(season)
        
    dfs = []
    for season_type in ['Regular Season', 'Playoffs']:
        team_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
        dfs.append(team_gamelogs)
        
    team_gamelogs_updated = pd.concat(dfs)
    team_gamelogs_updated['SEASON'] = season_str
    team_gamelogs_updated.drop(columns = ['SEASON_ID', 'VIDEO_AVAILABLE'], inplace=True)
    
    team_gamelogs_updated.to_sql(table_name, conn, if_exists='append', index=False)

    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return None


connection = sqlite3.connect('../data/nba.db')
update_team_basic_boxscores(connection, 2020)
connection.close()

In [14]:
# adv = pd.read_sql("SELECT * FROM team_advanced_boxscores", connection)
connection = sqlite3.connect('../data/nba.db')
basic = pd.read_sql("SELECT * FROM team_basic_boxscores", connection)

basic

,SEASON,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
0,2000-01,1610612739,CLE,Cleveland Cavaliers,0020000002,2000-10-31,CLE @ NJN,W,240,32,78,0.410,2,7,0.286,20,32,0.625,11,41,52,16,5,8,19,27,86,4
1,2000-01,1610612751,NJN,New Jersey Nets,0020000002,2000-10-31,NJN vs. CLE,L,240,31,85,0.365,3,10,0.300,17,26,0.654,12,35,47,24,9,8,15,31,82,-4
2,2000-01,1610612745,HOU,Houston Rockets,0020000008,2000-10-31,HOU vs. MIN,L,240,34,74,0.459,2,9,0.222,28,40,0.700,11,27,38,18,9,7,18,17,98,-8
3,2000-01,1610612750,MIN,Minnesota Timberwolves,0020000008,2000-10-31,MIN @ HOU,W,240,43,88,0.489,6,11,0.545,14,16,0.875,13,31,44,29,7,1,16,25,106,8
4,2000-01,1610612759,SAS,San Antonio Spurs,0020000009,2000-10-31,SAS vs. IND,W,240,33,64,0.516,4,8,0.500,28,35,0.800,5,32,37,17,6,4,18,22,98,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53671,2020-21,1610612749,MIL,Milwaukee Bucks,0042000404,2021-07-14,MIL vs. PHX,W,240,39,97,0.402,7,29,0.241,24,29,0.828,17,31,48,22,11,3,5,18,109,6
53672,2020-21,1610612756,PHX,Phoenix Suns,0042000405,2021-07-17,PHX vs. MIL,L,240,48,87,0.552,13,19,0.684,10,11,0.909,8,27,35,23,9,5,9,20,119,-4
53673,2020-21,1610612749,MIL,Milwaukee Bucks,0042000405,2021-07-17,MIL @ PHX,W,240,50,87,0.575,14,28,0.500,9,17,0.529,11,26,37,26,7,1,12,17,123,4
53674,2020-21,1610612749,MIL,Milwaukee Bucks,0042000406,2021-07-20,MIL vs. PHX,W,240,37,82,0.451,6,27,0.222,25,29,0.862,11,42,53,20,10,6,19,17,105,7
53675,2020-21,1610612756,PHX,Phoenix Suns,0042000406,2021-07-20,PHX @ MIL,L,240,38,86,0.442,6,25,0.240,16,19,0.842,6,31,37,14,11,4,15,21,98,-7

In [243]:
pd.read_sql('''SELECT DISTINCT GAME_ID FROM team_advanced_boxscores
            WHERE SEASON = "{}" '''.format(season_str), connection)

DatabaseError: Execution failed on sql 'SELECT DISTINCT GAME_ID FROM team_advanced_boxscores
            WHERE SEASON = "2019-20" ': no such column: SEASON

In [242]:
pd.read_sql('''SELECT DISTINCT GAME_ID FROM team_basic_boxscores
            WHERE SEASON = "{}" '''.format(season_str), connection)

         GAME_ID
0     0021900002
1     0021900001
2     0021900008
3     0021900010
4     0021900012
...          ...
1137  0041900402
1138  0041900403
1139  0041900404
1140  0041900405
1141  0041900406

[1142 rows x 1 columns]

In [241]:
season_str = season_string(2019)

game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_basic_boxscores.GAME_ID FROM team_basic_boxscores
            INNER JOIN team_advanced_boxscores 
            ON team_basic_boxscores.GAME_ID = team_advanced_boxscores.GAME_ID
            AND team_basic_boxscores.TEAM_ID = team_advanced_boxscores.TEAM_ID
            WHERE SEASON = "{}" '''.format(season_str), connection)

game_ids_in_db

         GAME_ID
0     0021900002
1     0021900001
2     0021900008
3     0021900010
4     0021900012
...          ...
1137  0041900402
1138  0041900403
1139  0041900404
1140  0041900405
1141  0041900406

[1142 rows x 1 columns]

In [245]:
game_ids_in_db['GAME_ID']

         GAME_ID     GAME_ID
0     0021900002  0021900002
1     0021900002  0021900002
2     0021900001  0021900001
3     0021900001  0021900001
4     0021900008  0021900008
...          ...         ...
2279  0041900404  0041900404
2280  0041900405  0041900405
2281  0041900405  0041900405
2282  0041900406  0041900406
2283  0041900406  0041900406

[2284 rows x 2 columns]

In [252]:
# Pull the GAME_IDs from my data

season_str = season_string(2003)
print(season_str)

game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_basic_boxscores.GAME_ID FROM team_basic_boxscores
            INNER JOIN team_advanced_boxscores 
            ON team_basic_boxscores.GAME_ID = team_advanced_boxscores.GAME_ID
            AND team_basic_boxscores.TEAM_ID = team_advanced_boxscores.TEAM_ID
            WHERE SEASON = "{}" '''.format(season_str), connection)

game_ids_in_db = game_ids_in_db['GAME_ID'].tolist()

print(len(game_ids_in_db))

# get up to date GAME_IDs
to_date_game_ids = []
for season_type in ['Regular Season', 'Playoffs']:
    to_date_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
    to_date_game_ids.extend(to_date_gamelogs['GAME_ID'].unique())

# See which game_ids are missing
missing_game_ids = set(to_date_game_ids) - set(game_ids_in_db)
num_games_updated = len(missing_game_ids)
print("num_games_updated:", num_games_updated)

2003-04
1270
num_games_updated: 1

In [27]:
def update_team_advanced_boxscores(conn, season):
    table_name = 'team_advanced_boxscores'
    
    season_str = season_string(season)
    
    game_ids_not_added = []
    
    # Pull the GAME_IDs from my data
    game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_basic_boxscores.GAME_ID FROM team_basic_boxscores
                INNER JOIN team_advanced_boxscores 
                ON team_basic_boxscores.GAME_ID = team_advanced_boxscores.GAME_ID
                AND team_basic_boxscores.TEAM_ID = team_advanced_boxscores.TEAM_ID
                WHERE SEASON = "{}" '''.format(season_str), connection)

    game_ids_in_db = game_ids_in_db['GAME_ID'].tolist()
    
    # get up to date GAME_IDs
    to_date_game_ids = []
    for season_type in ['Regular Season', 'Playoffs']:
        to_date_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
        to_date_game_ids.extend(to_date_gamelogs['GAME_ID'].unique())

    # See which game_ids are missing
    missing_game_ids = set(to_date_game_ids) - set(game_ids_in_db)
    num_games_updated = len(missing_game_ids)
    print("num_games_updated:", num_games_updated)
    
    if num_games_updated == 0:
        print("All team advanced boxscores up to date in season {}".format(season_str))
        return None
        
    for game_id in tqdm(missing_game_ids, desc='progress'):
        try:
            boxscores = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id).get_data_frames()[1]
            boxscores.to_sql(table_name, connection, if_exists='append', index=False)
            sleep(2)
        except:
            game_ids_not_added.append(game_id)  
    
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return game_ids_not_added

connection = sqlite3.connect('../data/nba.db')
update_team_advanced_boxscores(connection, season=2020)
connection.close()

num_games_updated: 0
All team advanced boxscores up to date in season 2020-21

In [49]:
def update_team_scoring_boxscores(conn, season):
    table_name = 'team_scoring_boxscores'
    
    season_str = season_string(season)
    
    game_ids_not_added = []
    
    # Pull the GAME_IDs from my data
    game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_scoring_boxscores.GAME_ID FROM team_basic_boxscores
                INNER JOIN team_scoring_boxscores 
                ON team_basic_boxscores.GAME_ID = team_scoring_boxscores.GAME_ID
                AND team_basic_boxscores.TEAM_ID = team_scoring_boxscores.TEAM_ID
                WHERE SEASON = "{}" '''.format(season_str), connection)

    game_ids_in_db = game_ids_in_db['GAME_ID'].tolist()
#     print(game_ids_in_db)
    # get up to date GAME_IDs
    to_date_game_ids = []
    for season_type in ['Regular Season', 'Playoffs']:
        to_date_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
        to_date_game_ids.extend(to_date_gamelogs['GAME_ID'].unique())

    # See which game_ids are missing
    missing_game_ids = set(to_date_game_ids) - set(game_ids_in_db)
    num_games_updated = len(missing_game_ids)
    print("num_games_updated:", num_games_updated)
        
    for game_id in tqdm(missing_game_ids, desc='progress'):
        try:
            boxscores = boxscorescoringv2.BoxScoreScoringV2(game_id).get_data_frames()[1]
            boxscores.to_sql(table_name, connection, if_exists='append', index=False)
            sleep(2)
        except:
            game_ids_not_added.append(game_id)  
            
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()    
    
    return game_ids_not_added

connection = sqlite3.connect('../data/nba.db')
update_team_scoring_boxscores(connection, season=2020)
connection.close()

progress: 0it [00:00, ?it/s]

num_games_updated: 0

In [50]:
connection = sqlite3.connect('../data/nba.db')
scoring = pd.read_sql("SELECT * FROM team_scoring_boxscores", connection)
scoring

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,0020000001,1610612755,76ers,PHI,Philadelphia,240:00,0.879,0.121,0.693,0.337,0.089,0.099,0.218,0.257,0.356,0.714,0.286,0.667,0.333,0.711,0.289
1,0020000001,1610612752,Knicks,NYK,New York,240:00,0.843,0.157,0.611,0.306,0.125,0.056,0.264,0.167,0.306,0.500,0.500,1.000,0.000,0.560,0.440
2,0020000002,1610612751,Nets,NJN,New Jersey,240:00,0.882,0.118,0.683,0.171,0.110,0.110,0.207,0.256,0.512,0.750,0.250,1.000,0.000,0.774,0.226
3,0020000002,1610612739,Cavaliers,CLE,Cleveland,240:00,0.910,0.090,0.698,0.279,0.070,0.163,0.233,0.140,0.419,0.467,0.533,1.000,0.000,0.500,0.500
4,0020000003,1610612753,Magic,ORL,Orlando,240:00,0.797,0.203,0.577,0.247,0.186,0.196,0.237,0.289,0.330,0.500,0.500,1.000,0.000,0.588,0.412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53669,0042000405,1610612756,Suns,PHX,Phoenix,240:00,0.782,0.218,0.588,0.151,0.328,0.101,0.084,0.143,0.437,0.400,0.600,0.692,0.308,0.479,0.521
53670,0042000406,1610612749,Bucks,MIL,Milwaukee,240:00,0.671,0.329,0.590,0.114,0.171,0.105,0.238,0.095,0.476,0.548,0.452,0.500,0.500,0.541,0.459
53671,0042000406,1610612756,Suns,PHX,Phoenix,240:00,0.709,0.291,0.653,0.204,0.184,0.112,0.163,0.163,0.449,0.313,0.688,0.667,0.333,0.368,0.632
53672,0022000665,1610612755,76ers,PHI,Philadelphia,240:00,0.721,0.279,0.593,0.056,0.194,0.093,0.213,0.176,0.537,0.281,0.719,0.857,0.143,0.385,0.615
53673,0022000665,1610612744,Warriors,GSW,Golden State,240:00,0.699,0.301,0.571,0.082,0.245,0.082,0.184,0.173,0.490,0.607,0.393,0.625,0.375,0.611,0.389

In [51]:
def update_all_data(conn, season):
    """Combines all the update functions above into one function that updates all my data"""
    print("updating basic team boxscores")
    update_team_basic_boxscores(conn = conn, season=season)
    print("updating advanced team/player boxscores")
    update_team_advanced_boxscores(conn = conn, season=season)
    print("updating scoring boxscores")
    update_team_scoring_boxscores(conn = conn, season=season)

In [52]:
update_all_data(connection, 2020)

updating basic team boxscores
updating advanced team/player boxscores
num_games_updated: 0
All team advanced boxscores up to date in season 2020-21
updating scoring boxscores

progress: 0it [00:00, ?it/s]

num_games_updated: 0