In [15]:
from nba_api.stats.static import players, teams
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import playergamelog, playergamelogs
from nba_api.stats.endpoints import boxscoreadvancedv2
from nba_api.stats.endpoints import boxscorefourfactorsv2
from nba_api.stats.endpoints import boxscoremiscv2
from nba_api.stats.endpoints import boxscoredefensive
from nba_api.stats.endpoints import boxscoreusagev2
from nba_api.stats.endpoints import boxscorescoringv2
from nba_api.stats.endpoints import boxscoreplayertrackv2
from nba_api.stats.endpoints import hustlestatsboxscore

from nba_api.stats.endpoints import boxscorematchups
from nba_api.stats.endpoints import boxscoretraditionalv2
from nba_api.stats.endpoints import boxscoresummaryv2
from nba_api.stats.endpoints import leaguedashplayershotlocations
from nba_api.stats.endpoints import leaguedashplayerclutch
from nba_api.stats.endpoints import leaguedashoppptshot
from nba_api.stats.endpoints import leaguedashplayerptshot
from nba_api.stats.endpoints import leaguedashptdefend
from nba_api.stats.endpoints import scoreboard, scoreboardv2
from nba_api.stats.endpoints import teamgamelogs, teamgamelog
from nba_api.stats.endpoints import leaguedashteamstats, leaguedashplayerstats

from time import sleep
import random
import pandas as pd

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


from tqdm import tqdm
from nba_api.stats.static import players, teams
from nba_api.stats.library.parameters import SeasonAll
import time as time
from IPython.core.display import clear_output

In [11]:
pd.options.display.max_columns=60

In [2]:
def season_string(season):
    return str(season) + '-' + str(season+1)[-2:]

In [3]:
# Set Current Season

current_season = '2021-22'

seasons = [season_string(s) for s in range(2000, 2021)]
print('Previous Seasons:', seasons, '\n\n', 'Current_Season:', current_season)

Previous Seasons: ['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21']

 Current_Season: 2021-22

In [85]:
for season in seasons:
    season_df = []
    for season_type in ['Regular Season', 'Playoffs']:
        player_df = playergamelogs.PlayerGameLogs(season_nullable = season, season_type_nullable = season_type).get_data_frames()[0]
        season_df.append(player_df)
    full_df = pd.concat(season_df)
    full_df.to_csv("./data/player_boxscores_basic/player_boxscores_{}.csv".format(season), index=False)
    sleep(2)

In [2]:
teamgamelogs.TeamGameLogs(season_nullable='2020-21', game_segment_nullable='First Half', season_type_nullable='Regular Season').get_data_frames()[0]

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2020-21,1610612738,BOS,Boston Celtics,0022001073,2021-05-16T00:00:00,BOS @ NYK,L,24.0,13,...,850,1834,704,1931,223,700,1602,846,2117,1923
1,2020-21,1610612743,DEN,Denver Nuggets,0022001076,2021-05-16T00:00:00,DEN @ POR,L,24.0,21,...,2051,1632,201,726,1965,700,1849,1160,1192,1982
2,2020-21,1610612739,CLE,Cleveland Cavaliers,0022001067,2021-05-16T00:00:00,CLE @ BKN,L,24.0,21,...,850,1980,1617,1132,938,1662,400,1160,1085,1761
3,2020-21,1610612765,DET,Detroit Pistons,0022001069,2021-05-16T00:00:00,DET vs. MIA,L,24.0,17,...,2051,1632,1978,1931,1965,1224,2116,560,1824,2094
4,2020-21,1610612755,PHI,Philadelphia 76ers,0022001075,2021-05-16T00:00:00,PHI vs. ORL,W,24.0,23,...,2094,186,1617,726,500,197,1849,1488,695,1419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2020-21,1610612752,NYK,New York Knicks,0022000011,2020-12-23T00:00:00,NYK @ IND,L,24.0,24,...,1613,464,1832,93,500,1662,2060,313,262,679
2156,2020-21,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22T00:00:00,LAL vs. LAC,L,24.0,17,...,676,1632,1978,1132,1965,1,1849,5,1287,1200
2157,2020-21,1610612751,BKN,Brooklyn Nets,0022000001,2020-12-22T00:00:00,BKN vs. GSW,W,24.0,23,...,183,1381,2115,400,39,700,1316,560,461,132
2158,2020-21,1610612746,LAC,LA Clippers,0022000002,2020-12-22T00:00:00,LAC @ LAL,W,24.0,21,...,1252,1131,2057,93,1965,1,2153,178,1085,886
2159,2020-21,1610612744,GSW,Golden State Warriors,0022000001,2020-12-22T00:00:00,GSW @ BKN,L,24.0,17,...,850,1632,1617,726,938,2076,1316,560,1937,2011

In [ ]:
seasons = ["200{}-0{}".format(x, x+1) if x!=9 else "200{}-{}".format(x, x+1) for x in range(0, 10)]
seasons2 = ["20{}-{}".format(x, x+1) for x in range(10, 21)]
seasons.extend(seasons2)

def get_basic_gamelogs(seasons = seasons):
    all_season_team_gamelogs = []
    for season in tqdm(seasons, desc='Progress'):
        for season_type in ['Regular Season', 'Playoffs']:
            season_gamelogs = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
            all_season_team_gamelogs.append(season_gamelogs)
            sleep(2)
        sleep(20)
        
    team_gamelogs_2000_present = pd.concat(all_season_team_gamelogs)
    
    path = './data/team_gamelogs_2000_present.csv'.format(season)

    team_gamelogs_2000_present.to_csv(path, index=False)
    
    return None
    
get_basic_gamelogs(seasons=seasons)

### Full Game Stats

In [130]:
custom_headers = {
    'Host': 'stats.nba.com',
    'Connection': 'keep-alive'
}
def add_basic_boxscores(conn, start_season, end_season, if_exists='append'):
    table_name = 'team_basic_boxscores'
    
    if if_exists == 'replace':
        conn.execute('DROP TABLE IF EXISTS ' + table_name)
        conn.execute('VACUUM')
        
    conn.execute("""CREATE TABLE IF NOT EXISTS {} (SEASON TEXT, TEAM_ID INTEGER, TEAM_ABBREVIATION TEXT, 
        TEAM_NAME TEXT, GAME_ID TEXT, GAME_DATE DATE, MATCHUP TEXT, WL TEXT, MIN INTEGER, FGM INTEGER, FGA INTEGER, 
        FG_PCT FLOAT, FG3M INTEGER, FG3A  INTEGER, FG3_PCT FLOAT, FTM INTEGER, FTA INTEGER, FT_PCT FLOAT, OREB INTEGER,
        DREB INTEGER, REB INTEGER, AST INTEGER, STL INTEGER, BLK INTEGER, TOV INTEGER, PF INTEGER, PTS INTEGER, 
        PLUS_MINUS INTEGER)""".format(table_name))    
    
    for season in range(start_season, end_season+1):
        season_str = season_string(season)
        season_boxscores = []
        for season_type in ['Regular Season', 'Playoffs']:
            boxscores = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
            season_boxscores.append(boxscores)
            sleep(2)
        season_df = pd.concat(season_boxscores)
        season_df['SEASON'] = season_str
        season_df.drop(columns = ['SEASON_ID', 'VIDEO_AVAILABLE'], inplace=True)
        
        season_df.to_sql(table_name, conn, if_exists='append', index=False)
        
        sleep(3)
        
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return None

In [189]:
seasons_data = []
for season in range(2000, 2020):
    season_str = season_string(season)
    data = pd.read_csv("../data/team_boxscores_advanced/team_advanced_boxscores_{}.csv".format(season_str), dtype={'GAME_ID':'object'})
    seasons_data.append(data)

    
seasons_adv_df = pd.concat(seasons_data)

In [198]:
seasons_adv_df['GAME_ID'] = seasons_adv_df['GAME_ID'].str[-10:]

In [201]:
seasons_adv_df.to_sql("team_advanced_boxscores", connection, if_exists='replace', index=False)

connection.commit()

In [106]:
def add_advanced_boxscores(conn, start_season, end_season, if_exists='append'):

    table_name = 'team_advanced_boxscores'
    game_ids_not_added = []
    
    if if_exists == 'replace':
        conn.execute('DROP TABLE IF EXISTS ' + table_name)
        conn.execute('VACUUM')
    
    conn.execute('''CREATE TABLE IF NOT EXISTS {} (GAME_ID TEXT, TEAM_ID INTEGER, TEAM_NAME TEXT, 
        TEAM_ABBREVIATION TEXT, TEAM_CITY TEXT, MIN TEXT, E_OFF_RATING FLOAT, OFF_RATING FLOAT, E_DEF_RATING FLOAT, 
        DEF_RATING FLOAT, E_NET_RATING FLOAT, NET_RATING FLOAT, AST_PCT FLOAT, AST_TOV FLOAT, 
        AST_RATIO FLOAT, OREB_PCT FLOAT, DREB_PCT FLOAT, REB_PCT FLOAT, E_TM_TOV_PCT FLOAT, 
        TM_TOV_PCT FLOAT, EFG_PCT FLOAT, TS_PCT FLOAT, USG_PCT FLOAT, E_USG_PCT FLOAT, E_PACE FLOAT, 
        PACE FLOAT, PACE_PER40 FLOAT, POSS FLOAT, PIE FLOAT)'''.format(table_name))
    
    
    for season in range(start_season, end_season+1):
        season_str = season_string(season)
        season_team_boxscores = []

        for season_type in ['Regular Season', 'Playoffs']:
            logs = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
            game_ids = logs['GAME_ID'].unique()

            for i in range(0, len(game_ids), 100):
                print('games {} to {}'.format(i, i+100))
                for game_id in tqdm(game_ids[i:i+100], desc='progress'):
                    try:
                        team_boxscores = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id).get_data_frames()[1]                    
                        team_boxscores.to_sql(table_name, conn, if_exists='append', index=False)
                    except:
                        game_ids_not_added.append(game_id)
                    sleep(2)
                sleep(120)
                clear_output(wait=True)

        sleep(120)
        
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return game_ids_not_added

In [115]:
def add_scoring_boxscores(conn, start_season, end_season, if_exists='append'):
    game_ids_not_added = []
    
    table_name = 'team_scoring_boxscores'
    
    if if_exists == 'replace':
        conn.execute('DROP TABLE IF EXISTS ' + table_name)
        conn.execute('VACUUM')
    
    conn.execute('''GAME_ID TEXT, TEAM_ID INTEGER, TEAM_NAME TEXT, TEAM_ABBREVIATION TEXT, TEAM_CITY TEXT,
       MIN TEXT, PCT_FGA_2PT FLOAT, PCT_FGA_3PT FLOAT, PCT_PTS_2PT FLOAT, PCT_PTS_2PT_MR FLOAT,
       PCT_PTS_3PT FLOAT, PCT_PTS_FB FLOAT, PCT_PTS_FT FLOAT, PCT_PTS_OFF_TOV FLOAT,
       PCT_PTS_PAINT FLOAT, PCT_AST_2PM FLOAT, PCT_UAST_2PM FLOAT, PCT_AST_3PM FLOAT,
       PCT_UAST_3PM FLOAT, PCT_AST_FGM FLOAT, PCT_UAST_FGM FLOAT)'''.format(table_name))
    
    
    for season in range(start_season, end_season+1):
        season_str = season_string(season)
        season_team_boxscores = []

        for season_type in ['Regular Season', 'Playoffs']:
            logs = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
            game_ids = logs['GAME_ID'].unique()

            for i in range(0, len(game_ids), 100):
                print('games {} to {}'.format(i, i+100))
                for game_id in tqdm(game_ids[i:i+100], desc='progress'):
                    try:
                        scoring_boxscores = boxscorescoringv2.BoxScoreScoringV2(game_id).get_data_frames()[1]
                        scoring_boxscores.to_sql(table_name, conn, if_exists='append', index=False)
                    except:
                        game_ids_not_added.append(game_id)
                    sleep(2)
                sleep(120)
                clear_output(wait=True)

        sleep(120)
        
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return game_ids_not_added

In [116]:
connection.commit()

connection.close()

## Update Data

In [23]:
pd.options.display.max_columns=50
leaguegamelog.LeagueGameLog(player_or_team_abbreviation='P').get_data_frames()[0]

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS,VIDEO_AVAILABLE
0,22020,202695,Kawhi Leonard,1610612746,LAC,LA Clippers,0022000002,2020-12-22,LAC @ LAL,W,34,10,26,0.385,1,8,0.125,5,5,1.000,0,2,2,3,2,0,3,5,26,1,35.9,1
1,22020,1629611,Terance Mann,1610612746,LAC,LA Clippers,0022000002,2020-12-22,LAC @ LAL,W,1,0,1,0.000,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,0,-2,0.0,1
2,22020,201188,Marc Gasol,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22,LAL vs. LAC,L,12,0,0,NaN,0,0,NaN,0,0,NaN,0,1,1,1,0,0,1,5,0,-8,1.7,1
3,22020,202083,Wesley Matthews,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22,LAL vs. LAC,L,11,0,2,0.000,0,2,0.000,0,0,NaN,0,0,0,0,1,0,0,0,0,-18,3.0,1
4,22020,203076,Anthony Davis,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22,LAL vs. LAC,L,31,8,15,0.533,0,2,0.000,2,2,1.000,0,7,7,2,0,0,4,1,18,-16,25.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11301,22020,1628366,Lonzo Ball,1610612740,NOP,New Orleans Pelicans,0022000557,2021-03-04,NOP vs. MIA,L,31,4,16,0.250,2,11,0.182,0,0,NaN,2,2,4,1,0,0,3,0,10,-17,13.3,1
11302,22020,1629644,KZ Okpala,1610612748,MIA,Miami Heat,0022000557,2021-03-04,MIA @ NOP,W,17,2,7,0.286,1,4,0.250,0,0,NaN,1,4,5,0,0,2,0,3,5,10,17.0,1
11303,22020,203500,Steven Adams,1610612740,NOP,New Orleans Pelicans,0022000557,2021-03-04,NOP vs. MIA,L,25,6,7,0.857,0,0,NaN,3,7,0.429,3,2,5,1,0,0,1,4,15,-9,21.5,1
11304,22020,203482,Kelly Olynyk,1610612748,MIA,Miami Heat,0022000557,2021-03-04,MIA @ NOP,W,37,7,8,0.875,4,5,0.800,0,0,NaN,1,9,10,7,1,0,3,4,18,19,40.5,1
11305,22020,202339,Eric Bledsoe,1610612740,NOP,New Orleans Pelicans,0022000557,2021-03-04,NOP vs. MIA,L,26,2,6,0.333,2,5,0.400,3,3,1.000,0,3,3,5,0,0,1,3,9,-8,19.1,1

In [218]:
## Update basic team gamelogs and player gamelogs

def update_team_basic_boxscores(conn, season):
    table_name = 'team_basic_boxscores'
    season_str = season_string(season)
        
    dfs = []
    for season_type in ['Regular Season', 'Playoffs']:
        team_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
        dfs.append(team_gamelogs)
        
    team_gamelogs_updated = pd.concat(dfs)
    team_gamelogs_updated['SEASON'] = season_str
    team_gamelogs_updated.drop(columns = ['SEASON_ID', 'VIDEO_AVAILABLE'], inplace=True)
    
    team_gamelogs_updated.to_sql(table_name, conn, if_exists='append', index=False)

    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()
    
    return None


# update_team_gamelogs(connection, 2020)

In [204]:
adv = pd.read_sql("SELECT * FROM team_advanced_boxscores", connection)
basic = pd.read_sql("SELECT * FROM team_basic_boxscores", connection)

In [206]:
pd.merge(basic, adv, on=['GAME_ID', 'TEAM_ID'])

,SEASON,TEAM_ID,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE,MATCHUP,WL,MIN_x,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,TEAM_NAME_y,TEAM_ABBREVIATION_y,TEAM_CITY,MIN_y,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TOV,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,E_TM_TOV_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,2000-01,1610612739,CLE,Cleveland Cavaliers,0020000002,2000-10-31,CLE @ NJN,W,240,32,78,0.410,2,7,0.286,20,32,0.625,11,41,52,16,5,8,19,27,86,4,Cavaliers,CLE,Cleveland,240:00,85.9,87.8,82.5,83.7,3.5,4.1,0.500,0.84,12.6,0.302,0.724,0.523,18.985,19.4,0.423,0.467,1.0,0.202,99.76,98.0,81.67,98,0.512
1,2000-01,1610612751,NJN,New Jersey Nets,0020000002,2000-10-31,NJN vs. CLE,L,240,31,85,0.365,3,10,0.300,17,26,0.654,12,35,47,24,9,8,15,31,82,-4,Nets,NJN,New Jersey,240:00,82.5,83.7,85.9,87.8,-3.5,-4.1,0.774,1.60,17.7,0.276,0.698,0.477,15.084,15.3,0.382,0.425,1.0,0.196,99.76,98.0,81.67,98,0.488
2,2000-01,1610612745,HOU,Houston Rockets,0020000008,2000-10-31,HOU vs. MIN,L,240,34,74,0.459,2,9,0.222,28,40,0.700,11,27,38,18,9,7,18,17,98,-8,Rockets,HOU,Houston,240:00,99.4,103.2,108.1,110.4,-8.7,-7.3,0.529,1.00,14.1,0.289,0.667,0.478,18.256,18.9,0.473,0.535,1.0,0.197,98.32,95.5,79.58,95,0.446
3,2000-01,1610612750,MIN,Minnesota Timberwolves,0020000008,2000-10-31,MIN @ HOU,W,240,43,88,0.489,6,11,0.545,14,16,0.875,13,31,44,29,7,1,16,25,106,8,Timberwolves,MIN,Minnesota,240:00,108.1,110.4,99.4,103.2,8.7,7.3,0.674,1.81,20.7,0.333,0.711,0.522,16.320,16.7,0.523,0.558,1.0,0.195,98.32,95.5,79.58,96,0.554
4,2000-01,1610612759,SAS,San Antonio Spurs,0020000009,2000-10-31,SAS vs. IND,W,240,33,64,0.516,4,8,0.500,28,35,0.800,5,32,37,17,6,4,18,22,98,13,Spurs,SAS,San Antonio,240:00,106.1,104.3,90.7,90.4,15.4,13.8,0.515,0.94,14.9,NaN,0.761,NaN,19.481,19.1,0.547,0.617,1.0,0.203,93.06,94.0,78.33,94,0.641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51339,2019-20,1610612747,LAL,Los Angeles Lakers,0041900404,2020-10-06,LAL @ MIA,W,240,35,79,0.443,14,39,0.359,18,21,0.857,10,32,42,25,5,4,15,14,102,6,Lakers,LAL,Los Angeles,240:00,109.4,110.9,101.7,104.3,7.7,6.5,0.714,1.67,19.5,0.289,0.783,0.538,16.088,16.3,0.532,0.578,1.0,0.200,93.84,92.0,76.67,92,0.559
51340,2019-20,1610612747,LAL,Los Angeles Lakers,0041900405,2020-10-09,LAL vs. MIA,L,240,38,82,0.463,14,38,0.368,18,21,0.857,12,29,41,21,10,5,15,21,108,-3,Lakers,LAL,Los Angeles,240:00,114.6,114.9,114.8,119.4,-0.2,-4.5,0.553,1.40,16.5,0.333,0.733,0.533,15.917,16.0,0.549,0.592,1.0,0.200,95.46,93.5,77.92,94,0.488
51341,2019-20,1610612748,MIA,Miami Heat,0041900405,2020-10-09,MIA @ LAL,W,240,38,83,0.458,14,33,0.424,21,22,0.955,9,26,35,26,7,3,13,19,111,3,Heat,MIA,Miami,240:00,114.8,119.4,114.6,114.9,0.2,4.5,0.684,2.00,19.7,0.267,0.667,0.467,13.446,14.0,0.542,0.599,1.0,0.199,95.46,93.5,77.92,93,0.512
51342,2019-20,1610612747,LAL,Los Angeles Lakers,0041900406,2020-10-11,LAL @ MIA,W,240,43,89,0.483,11,35,0.314,9,14,0.643,12,34,46,23,5,4,14,22,106,13,Lakers,LAL,Los Angeles,240:00,109.1,112.8,98.2,100.0,10.9,12.8,0.535,1.64,17.4,0.320,0.771,0.541,14.409,14.9,0.545,0.557,1.0,0.194,95.92,93.5,77.92,94,0.544
51343,2019-20,1610612748,MIA,Miami Heat,0041900406,2020-10-11,MIA vs. LAL,L,240,35,79,0.443,10,28,0.357,13,22,0.591,9,32,41,25,4,4,15,18,93,-13,Heat,MIA,Miami,240:00,98.2,100.0,109.1,112.8,-10.9,-12.8,0.714,1.67,19.4,0.229,0.680,0.459,15.843,16.1,0.506,0.524,1.0,0.195,95.92,93.5,77.92,93,0.456

In [243]:
pd.read_sql('''SELECT DISTINCT GAME_ID FROM team_advanced_boxscores
            WHERE SEASON = "{}" '''.format(season_str), connection)

DatabaseError: Execution failed on sql 'SELECT DISTINCT GAME_ID FROM team_advanced_boxscores
            WHERE SEASON = "2019-20" ': no such column: SEASON

In [242]:
pd.read_sql('''SELECT DISTINCT GAME_ID FROM team_basic_boxscores
            WHERE SEASON = "{}" '''.format(season_str), connection)

         GAME_ID
0     0021900002
1     0021900001
2     0021900008
3     0021900010
4     0021900012
...          ...
1137  0041900402
1138  0041900403
1139  0041900404
1140  0041900405
1141  0041900406

[1142 rows x 1 columns]

In [241]:
season_str = season_string(2019)

game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_basic_boxscores.GAME_ID FROM team_basic_boxscores
            INNER JOIN team_advanced_boxscores 
            ON team_basic_boxscores.GAME_ID = team_advanced_boxscores.GAME_ID
            AND team_basic_boxscores.TEAM_ID = team_advanced_boxscores.TEAM_ID
            WHERE SEASON = "{}" '''.format(season_str), connection)

game_ids_in_db

         GAME_ID
0     0021900002
1     0021900001
2     0021900008
3     0021900010
4     0021900012
...          ...
1137  0041900402
1138  0041900403
1139  0041900404
1140  0041900405
1141  0041900406

[1142 rows x 1 columns]

In [245]:
game_ids_in_db['GAME_ID']

         GAME_ID     GAME_ID
0     0021900002  0021900002
1     0021900002  0021900002
2     0021900001  0021900001
3     0021900001  0021900001
4     0021900008  0021900008
...          ...         ...
2279  0041900404  0041900404
2280  0041900405  0041900405
2281  0041900405  0041900405
2282  0041900406  0041900406
2283  0041900406  0041900406

[2284 rows x 2 columns]

In [252]:
# Pull the GAME_IDs from my data

season_str = season_string(2003)
print(season_str)

game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_basic_boxscores.GAME_ID FROM team_basic_boxscores
            INNER JOIN team_advanced_boxscores 
            ON team_basic_boxscores.GAME_ID = team_advanced_boxscores.GAME_ID
            AND team_basic_boxscores.TEAM_ID = team_advanced_boxscores.TEAM_ID
            WHERE SEASON = "{}" '''.format(season_str), connection)

game_ids_in_db = game_ids_in_db['GAME_ID'].tolist()

print(len(game_ids_in_db))

# get up to date GAME_IDs
to_date_game_ids = []
for season_type in ['Regular Season', 'Playoffs']:
    to_date_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
    to_date_game_ids.extend(to_date_gamelogs['GAME_ID'].unique())

# See which game_ids are missing
missing_game_ids = set(to_date_game_ids) - set(game_ids_in_db)
num_games_updated = len(missing_game_ids)
print("num_games_updated:", num_games_updated)

2003-04
1270
num_games_updated: 1

In [ ]:
def update_team_advanced_boxscores(conn, season):
    table_name = 'team_advanced_boxscores'
    
    season_str = season_string(season)
    
    game_ids_not_added = []
    
    # Pull the GAME_IDs from my data
    game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_basic_boxscores.GAME_ID FROM team_basic_boxscores
                INNER JOIN team_advanced_boxscores 
                ON team_basic_boxscores.GAME_ID = team_advanced_boxscores.GAME_ID
                AND team_basic_boxscores.TEAM_ID = team_advanced_boxscores.TEAM_ID
                WHERE SEASON = "{}" '''.format(season_str), connection)

    game_ids_in_db = game_ids_in_db['GAME_ID'].tolist()
    
    # get up to date GAME_IDs
    to_date_game_ids = []
    for season_type in ['Regular Season', 'Playoffs']:
        to_date_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
        to_date_game_ids.extend(to_date_gamelogs['GAME_ID'].unique())

    # See which game_ids are missing
    missing_game_ids = set(to_date_game_ids) - set(game_ids_in_db)
    num_games_updated = len(missing_game_ids)
    print(to_date_game_ids)
    print("num_games_updated:", num_games_updated)
        
#     for game_id in tqdm(missing_game_ids, desc='progress'):
#         try:
#             boxscores = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id).get_data_frames()[1]
#             boxscores.to_sql(table_name, connection, if_exists='append', index=False)
#             sleep(2)
#         except:
#             game_ids_not_added.append(game_id)  
    
#     cur = conn.cursor()
#     cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
#     conn.commit()
    
    return game_ids_not_added

update_advanced_boxscores(connection, season=2003)

progress:   0%|                                                                               | 0/1271 [00:00<?, ?it/s]

num_games_updated: 1271

progress:   0%|▎                                                                    | 5/1271 [00:19<1:21:30,  3.86s/it]

In [254]:
adv = pd.read_sql("SELECT * FROM team_advanced_boxscores", connection)

basic = pd.read_sql("SELECT * FROM team_basic_boxscores", connection)

In [255]:
set(basic['GAME_ID'].tolist()) - set(adv['GAME_ID'].tolist())

{'0020300778'}

In [270]:
adv

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TOV,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,E_TM_TOV_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0020000008,1610612750,Timberwolves,MIN,Minnesota,240:00,108.1,110.4,99.4,103.2,8.7,7.3,0.674,1.81,20.7,0.333,0.711,0.522,16.320,16.7,0.523,0.558,1.0,0.195,98.32,95.5,79.58,96,0.554
1,0020000008,1610612745,Rockets,HOU,Houston,240:00,99.4,103.2,108.1,110.4,-8.7,-7.3,0.529,1.00,14.1,0.289,0.667,0.478,18.256,18.9,0.473,0.535,1.0,0.197,98.32,95.5,79.58,95,0.446
2,0020000002,1610612751,Nets,NJN,New Jersey,240:00,82.5,83.7,85.9,87.8,-3.5,-4.1,0.774,1.60,17.7,0.276,0.698,0.477,15.084,15.3,0.382,0.425,1.0,0.196,99.76,98.0,81.67,98,0.488
3,0020000002,1610612739,Cavaliers,CLE,Cleveland,240:00,85.9,87.8,82.5,83.7,3.5,4.1,0.500,0.84,12.6,0.302,0.724,0.523,18.985,19.4,0.423,0.467,1.0,0.202,99.76,98.0,81.67,98,0.512
4,0020000009,1610612759,Spurs,SAS,San Antonio,240:00,106.1,104.3,90.7,90.4,15.4,13.8,0.515,0.94,14.9,NaN,0.761,NaN,19.481,19.1,0.547,0.617,1.0,0.203,93.06,94.0,78.33,94,0.641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56209,0020301106,1610612749,Bucks,MIL,Milwaukee,240:00,104.4,101.1,93.7,94.3,10.7,6.8,0.286,0.91,9.3,0.273,0.729,0.511,12.755,12.4,0.468,0.522,1.0,0.202,87.42,88.5,73.75,89,0.558
56210,0020300310,1610612764,Wizards,WAS,Washington,240:00,97.9,96.8,116.6,115.8,-18.6,-19.0,0.657,1.64,17.7,0.300,0.692,0.472,15.067,14.9,0.453,0.490,1.0,0.200,93.64,94.5,78.75,94,0.401
56211,0020300310,1610612750,Timberwolves,MIN,Minnesota,240:00,116.6,115.8,97.9,96.8,18.6,19.0,0.489,2.09,18.2,0.308,0.700,0.528,11.657,11.6,0.565,0.595,1.0,0.201,93.64,94.5,78.75,95,0.599
56212,0020300328,1610612761,Raptors,TOR,Toronto,240:00,100.3,97.8,96.8,101.1,3.5,-3.3,0.548,1.55,15.3,0.174,NaN,NaN,12.393,12.1,0.486,0.538,1.0,0.203,90.88,90.0,75.00,91,0.533
56213,0020300328,1610612748,Heat,MIA,Miami,240:00,96.8,101.1,100.3,97.8,-3.5,3.3,0.441,1.15,12.3,NaN,0.826,NaN,13.978,14.6,0.434,0.479,1.0,0.198,90.88,90.0,75.00,89,0.467

In [269]:
pd.read_sql("""SELECT TEAM_ID, GAME_ID, min(rowid) FROM team_advanced_boxscores GROUP BY TEAM_ID, GAME_ID ORDER BY min(rowid)""", connection)

          TEAM_ID     GAME_ID  min(rowid)
0      1610612750  0020000008           1
1      1610612745  0020000008           2
2      1610612751  0020000002           3
3      1610612739  0020000002           4
4      1610612759  0020000009           5
...           ...         ...         ...
53669  1610612738  0022000302       53670
53670  1610612765  0022000943       53671
53671  1610612742  0022000943       53672
53672  1610612754  0022000944       53673
53673  1610612751  0022000944       53674

[53674 rows x 3 columns]

In [271]:
table_name = 'team_advanced_boxscores'
cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
adv = pd.read_sql("SELECT * FROM team_advanced_boxscores", connection)
adv

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TOV,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,E_TM_TOV_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0020000008,1610612750,Timberwolves,MIN,Minnesota,240:00,108.1,110.4,99.4,103.2,8.7,7.3,0.674,1.81,20.7,0.333,0.711,0.522,16.320,16.7,0.523,0.558,1.0,0.195,98.32,95.5,79.58,96,0.554
1,0020000008,1610612745,Rockets,HOU,Houston,240:00,99.4,103.2,108.1,110.4,-8.7,-7.3,0.529,1.00,14.1,0.289,0.667,0.478,18.256,18.9,0.473,0.535,1.0,0.197,98.32,95.5,79.58,95,0.446
2,0020000002,1610612751,Nets,NJN,New Jersey,240:00,82.5,83.7,85.9,87.8,-3.5,-4.1,0.774,1.60,17.7,0.276,0.698,0.477,15.084,15.3,0.382,0.425,1.0,0.196,99.76,98.0,81.67,98,0.488
3,0020000002,1610612739,Cavaliers,CLE,Cleveland,240:00,85.9,87.8,82.5,83.7,3.5,4.1,0.500,0.84,12.6,0.302,0.724,0.523,18.985,19.4,0.423,0.467,1.0,0.202,99.76,98.0,81.67,98,0.512
4,0020000009,1610612759,Spurs,SAS,San Antonio,240:00,106.1,104.3,90.7,90.4,15.4,13.8,0.515,0.94,14.9,NaN,0.761,NaN,19.481,19.1,0.547,0.617,1.0,0.203,93.06,94.0,78.33,94,0.641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53669,0022000302,1610612738,Celtics,BOS,Boston,240:00,100.9,101.1,102.8,103.2,-1.9,-2.2,0.600,1.60,18.9,0.289,0.714,0.511,15.930,16.0,0.524,0.539,1.0,0.202,93.76,93.5,77.92,94,0.526
53670,0022000943,1610612765,Pistons,DET,Detroit,240:00,104.0,106.1,111.5,115.0,-7.5,-8.9,0.722,1.44,20.0,0.158,0.755,0.494,17.829,18.2,0.577,0.611,1.0,0.200,102.04,99.5,82.92,99,0.495
53671,0022000943,1610612742,Mavericks,DAL,Dallas,240:00,111.5,115.0,104.0,106.1,7.5,8.9,0.550,1.83,16.5,0.245,0.842,0.506,11.637,12.0,0.522,0.580,1.0,0.196,102.04,99.5,82.92,100,0.505
53672,0022000944,1610612754,Pacers,IND,Indiana,240:00,104.4,107.6,121.1,125.0,-16.7,-17.4,0.561,2.30,16.6,0.218,0.744,0.449,9.239,9.5,0.484,0.537,1.0,0.198,107.78,104.5,87.08,105,0.402
53673,0022000944,1610612751,Nets,BKN,Brooklyn,240:00,121.1,125.0,104.4,107.6,16.7,17.4,0.745,2.50,23.3,0.256,0.782,0.551,13.045,13.5,0.596,0.642,1.0,0.196,107.78,104.5,87.08,104,0.598

In [209]:
def update_team_scoring_boxscores(conn, season):
    table_name = 'team_scoring_boxscores'
    
    season_str = season_string(season)
    
    game_ids_not_added = []
    
    # Pull the GAME_IDs from my data
    game_ids_in_db = pd.read_sql('''SELECT DISTINCT team_scoring_boxscores.GAME_ID FROM team_basic_boxscores
                INNER JOIN team_scoring_boxscores 
                ON team_basic_boxscores.GAME_ID = team_scoring_boxscores.GAME_ID
                AND team_basic_boxscores.TEAM_ID = team_scoring_boxscores.TEAM_ID
                WHERE SEASON = "{}" '''.format(season_str), connection)

    game_ids_in_db = game_ids_in_db['GAME_ID'].tolist()
    
    # get up to date GAME_IDs
    to_date_game_ids = []
    for season_type in ['Regular Season', 'Playoffs']:
        to_date_gamelogs = leaguegamelog.LeagueGameLog(season=season_str, season_type_all_star=season_type).get_data_frames()[0]
        to_date_game_ids.extend(to_date_gamelogs['GAME_ID'].unique())

    # See which game_ids are missing
    missing_game_ids = set(to_date_game_ids) - set(game_ids_in_db)
    num_games_updated = len(missing_game_ids)
    print("num_games_updated:", num_games_updated)
        
    for game_id in tqdm(missing_game_ids, desc='progress'):
        try:
            boxscores = boxscorescoringv2.BoxScoreScoringV2(game_id).get_data_frames()[1]
            boxscores.to_sql(table_name, connection, if_exists='append', index=False)
            sleep(2)
        except:
            game_ids_not_added.append(game_id)  
            
    cur = conn.cursor()
    cur.execute('DELETE FROM {} WHERE rowid NOT IN (SELECT min(rowid) FROM {} GROUP BY TEAM_ID, GAME_ID)'.format(table_name, table_name))
    conn.commit()    
    
    return game_ids_not_added

# update_scoring_boxscores(season=2020)

In [208]:
def update_all_data(conn, season):
    """Combines all the update functions above into one function that updates all my data"""
    print("updating basic team boxscores")
    update_team_basic_boxscores(conn = conn, season=season)
    print("updating advanced team/player boxscores")
    update_team_advanced_boxscores(conn = conn, season=season)
    print("updating scoring boxscores")
    update_team_scoring_boxscores(conn = conn, season=season)

In [219]:
update_all_data(connection, 2020)

updating basic team boxscores
updating advanced team/player boxscores

progress:   0%|                                                                               | 0/1165 [00:00<?, ?it/s]

num_games_updated: 1165

progress: 100%|████████████████████████████████████████████████████████████████████| 1165/1165 [50:42<00:00,  2.61s/it]

updating scoring boxscores

progress:   0%|                                                                               | 0/1165 [00:00<?, ?it/s]

num_games_updated: 1165

progress: 100%|██████████████████████████████████████████████████████████████████| 1165/1165 [1:06:17<00:00,  3.41s/it]